/* asd {
    color : #1A1A1B
            #333F44
            #37AA9C
            #94F3E4
} */

/* GLOBALES */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} 

/*     ETIQUETAS      */
html {
    font-size: 62.5%;
} 

img {
    max-width: 100%;
    max-height: 100%;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #333F44;
    color:#1A1A1B;
    display: grid;
    grid-template-areas: 
        "header header header"
        "positionSticky caja1 aside"
        "positionSticky caja2 aside"
        "footer footer footer";
    grid-template-columns: 0.3fr 3fr 0.6fr;
    grid-template-rows: .7fr 5fr 3fr 1fr;
    grid-column-gap: 1rem;
    grid-row-gap: 1rem; 
}

header {
    background-color: #1A1A1B;
    color: #37AA9C;
    display: flex;
    grid-area: header;
    justify-content: center;
    align-items: center;
}

header img{
    width: 10rem;
}

header h1 {
    font-size: 10rem;
}

nav {
    background-color: #ffffff;
    height: 1fr;
    position: sticky;
    top: 0%;    
}

aside {
    background-color: #94F3E4;
    grid-area: aside;
    ;
}

aside p {
    margin: 3rem;
    font-size: 3rem;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}


h2 {
    color: #37AA9C;
}

footer {
    background-color: #1A1A1B;
    height: 34rem;
    color: #94F3E4;
    grid-area: footer;
}

/* ID */
#positionSticky{
    grid-area: positionSticky;
    background-color: #ffffff;
}

#caja1 {
    background-color: #ffffff;
    grid-area: caja1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#caja1 img {
    width: 75rem;
    margin-top: 5rem;
    margin-bottom: 5rem;
}

#caja1 h2 {
    font-size: 3rem;
    margin: 2rem;
}

#caja1 p {
    font-size: 2rem;
    margin: 2rem;
}

#caja2 {
    grid-area: caja2;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#caja2 img {
    width: 70rem;
    margin-top: 5rem;
    margin-bottom: 5rem;
}


#caja2 h2 {
    font-size: 3rem;
    margin: 2rem;
}

#caja2 p {
    font-size: 2rem;
    margin: 2rem;
}

/* CLASES */
.logoheader {
    max-height: 12rem;
}

.menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 88vh;
    justify-content:space-around;
} 

.menu li {
    color: #ffffff;
    font-weight: 900;
    margin: 5rem .5rem 5em .5rem;
}

.menu a {
    color: #333F44;
    background-color: #37AA9C;
    border-radius: 1rem;
    padding: 1rem;
    border:solid .3rem #1A1A1B
}

.redes img {
    width: 4rem;
}

.redes p {
    text-align: center;
    font-size: 2rem;
    margin: 2rem;
    letter-spacing: 1rem;
}
.redes li {
    margin: 4rem;
}

.redesflex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.cajafooter{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.textofooter {
    width: 33%;
}

.textofooter p {
    margin: 3rem;
}

.logofooter {
    width: 33%;
    text-align: center;
}

.linksfooter {
    width: 33%;
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
}

.linksfooter a {
    text-decoration: none;
    color: #94F3E4;
    font-size: 3rem;
    text-align: center;
}

.logofooter img {
    width: 13rem;
    margin: 1rem;
    border-radius: .5rem;
}

.derechos {
    background-color: #94F3E4;
    color: #1A1A1B;
    font-weight: 900;
    padding: 1rem;
    text-align: center;
}

/* menuanimado:hover {
    transform: translate(10px, 20px);  
} */

.menuanimado {
    transition: all .3s;}
.menuanimado:hover {
    transform: translate(.5rem, -.2rem);
    background-color: #333F44;
    color: #37AA9C;
}

.menuanimado:focus {
    transform: translate(.5rem, -.2rem);
    background-color: #ffffff;
    color: #37AA9C;
}

@media screen and (max-width: 768px) {
    body {
        font-family: 'Roboto', sans-serif;
        background-color: #333F44;
        color:#1A1A1B;
        display: grid;
        grid-template-areas: 
            "header header header"
            "positionSticky caja1 caja1"
            "positionSticky caja2 caja2"
            "aside aside aside"
            "footer footer footer";
        grid-template-columns: 0.3fr 3fr 0.6fr;
        grid-template-rows: .3fr 1fr .7fr 1fr;
        grid-column-gap: 1rem;
        grid-row-gap: 1rem; 
    }

    header h1 {
    font-size: 8rem;
    margin: 3rem;}
}

@media screen and (max-width: 500px) {
    body {
        grid-template-rows: .2fr 1fr .7fr 1fr;
    }
    
    header h1 {
        font-size: 5rem;
    }
}